<section class="home" id="home">
  <div class="container hero">
    <div
      class="row hero-content justify-content-between">
      <div class="col-12 col-md-7 hero-text">
        <h1 class="h1">
      Lorem ipsum dolor sit amet.
          <span
            ><img src="../../assets/pngegg.png" alt="waving hand" width="40"
          /></span>
        </h1>
        <p class="">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sint voluptas error est voluptatem rerum corporis provident doloremque, aspernatur natus. 📍
        </p>
        
      